<a href="https://colab.research.google.com/github/fathiUsman/Makkan.con-Webscraping/blob/main/Makaan_Webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import all the packages
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
#To get the contents of the specified URL, submit a request using the requests library. 
#This is the URL of the Makaan.com website containing the details of each properties.

url='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624911693584'


req = requests.get(url,headers = {'Accept-Language': 'en-US,en;q=0.8'})

soup=BeautifulSoup(req.text,'html')
print(soup.prettify())

In [ ]:
#find the owner information of the first property
soup.find('span',attrs={'class' : 'seller-type'}).text

'BUILDER'

In [ ]:
#locality information of first property
soup.find('span',attrs={'itemprop': 'addressLocality'}).text

'Manikonda'

In [ ]:
#price of the property
soup.find('div',attrs={'data-type' : 'price-link'}).text

' 1.6 Cr'

In [ ]:
#find the area of the building in sq.feet
soup.find('td',attrs={'class': 'size'}).text

'2810 '

In [ ]:
#find the rate per sq feet
soup.find('td',attrs={'class' : 'lbl rate'}).text

'5,699 / sq ft'

In [ ]:
#no of bhk 
soup.find('div',attrs={'class' : 'title-line'}).strong.span.text

'3 '

In [ ]:
#to find the construction type
soup.find('td',attrs={'class' : 'val'}).text

'Under Construction'

In [ ]:
# import time
#To get the contents of the specified URL, submit a request using the requests library.
#create empty list 

import time 
base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='


owner_info=[]
no_bhk=[]
loc_info=[]
price_info=[]
area_info=[]
rate_persqft_info=[]
const_info=[]

for i in range(1,20):
  time.sleep(3)
  url=base_url+str(i)+'&_=1624549027897'
  req=requests.get(url)
  soup=BeautifulSoup(req.text,'html')

  o_info=soup.findAll('span',attrs={'class' : 'seller-type'}) 
  for j in o_info:
    owner_info.append(j.text)

  b_info=soup.findAll('div',attrs={'class' : 'title-line'})
  for k in b_info:
    no_bhk.append(k.strong.span.text)

  l_info=soup.findAll('span',attrs={'itemprop': 'addressLocality'})
  for a in l_info:
    loc_info.append(a.text)

  p_info=soup.findAll('div',attrs={'data-type' : 'price-link'})
  for b in p_info:
    price_info.append(b.text)

  ar_info=soup.findAll('td',attrs={'class': 'size'})  
  for c in ar_info:
    area_info.append(c.text)

  const=soup.findAll('td',attrs={'class' : 'val'})
  for d in const:
    const_info.append(d.text) 

  rate_persqft=soup.findAll('td',attrs={'class' : 'lbl rate'}) 
  for e in rate_persqft:
    rate_persqft_info.append(e.text)

In [ ]:
#length of each items 

print(len(owner_info))
print(len(no_bhk))
print(len(loc_info))
print(len(price_info))
print(len(const_info))
print(len(area_info))
print(len(rate_persqft_info))

380
380
380
380
380
380
380

In [ ]:
#merging all datas into a single frame and final data set will be displayed
data=pd.DataFrame({'Owner_info' : owner_info,
                   'No_BHK' : no_bhk,
                   'Locality_info' : loc_info,
                   'Price_info' : price_info,
                   'Construction_info':const_info,
                   'Area_info':area_info,
                   'Rate_per_sqft': rate_persqft_info
                   })
data

In [ ]:
#Data will be saved into csv file

data.to_csv('makaan_data.csv',index=False)
data

    Owner_info No_BHK  ... Area_info  Rate_per_sqft
0      BUILDER     3   ...     2810   5,699 / sq ft
1      BUILDER     2   ...     1495   9,565 / sq ft
2      BUILDER     2   ...     1295   4,400 / sq ft
3      BUILDER     2   ...      890   4,899 / sq ft
4      BUILDER     3   ...     1431   4,600 / sq ft
..         ...    ...  ...       ...            ...
375      OWNER     3   ...     1040   3,557 / sq ft
376      OWNER     3   ...     1240   3,548 / sq ft
377      OWNER     3   ...     1240   3,548 / sq ft
378      OWNER     2   ...     1020   3,529 / sq ft
379      OWNER     2   ...     1020   3,529 / sq ft

[380 rows x 7 columns]